<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  margin-top: 1rem;
}
h1, h3, ul, p {
  text-align: center;
}
hr, h3 {
  margin: 1.5rem;
}
li {
  margin: 10px 0;
}
a {
  color: #2574a9;
}
code{
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}
  </style>
  <title>FCC | Timestamp</title>
</head>
<body>
  
  
  <h1><code>error 404 page</code></h1>
</body>
</html>