<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  margin-top: 1rem;
}
h1, h3, ul, p {
  text-align: center;
}
hr, h3 {
  margin: 1.5rem;
}
a {
  color: #2574a9;
}
code{
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}
  </style>
  <title>FCC | Timestamp</title>
</head>
<body>
  <h1>Timestamp Microservice</h1>
  <hr>
  <h3>Example Usage</h3>
  <ul>
    <li><a href="#">[project url]/api/timestamp/2015-12-25</a></li>
    <li><a href="#">[project url]/api/timestamp/1451001600000</a></li>
  </ul>
  <h3>Example Output:</h3>
  <p><code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code></p>
</body>
</html>